table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}

.mat-column-avatar {
  width: 10%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 3px 0;
}

.mat-elevation-z8 {
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .mat-elevation-z8 {
    overflow: scroll;
  }
}

.sort {
  display: none;
}

@media (max-width: 800px) {
  .sort {
    display: block;
  }
}
