h2, h4 {
  margin: 0 0 10px;
}

.user {
  display: flex;
  flex-direction: column;
}

.user img {
  margin-right: 1rem;
  width: 120px;
  flex: 0 0 120px;
  height: 100%;
}

.user-details {
  display: flex;
}

.user-description {
  column-count: 2;
  column-gap: 1rem;
  width: 100%;
}

@media (max-width: 700px) {
  .user-description {
    column-count: 1;
  }
}

.todos {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-column-id {
  width: 5%;
}

.mat-column-title {
  width: 70%;
}
