<div class="user">
  <div *ngIf="user" class="user-details">
    <img [src]="user.avatar" alt="avatar">
    <div>
      <h1>{{ user.name }}</h1>
      <div class="user-description">
        <h4>{{ user.username }}</h4>
        <h4>{{ user.email }}</h4>
        <h4>{{ user.address }}</h4>
        <h4>Телефон: {{ user.phone }}</h4>
        <h4>Вебсайт: <a [href]="'http://' + user.website" target="_blank">{{ user.website }}</a></h4>
        <h4 *ngIf="user.company">
          Компания: {{ user.company.name }},
          <br /> крылатая фраза: {{ user.company.catchPhrase }},
          <br /> описание: {{ user.company.bs }}
        </h4>
      </div>
    </div>
  </div>
  <div class="todos">
    <h2>Список задач:</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="completed" matSortDisableClear matSortDirection="asc">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Задача </th>
          <td mat-cell *matCellDef="let row"> {{ row.title }} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="completed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус выполнения </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [checked]="row.completed" disabled></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
